<div class="card-perfume">

    <div class="image-container">

        <img
            [src]="imagen"
            [alt]="nombre">

    </div>

    <div class="card-body">

        <p class="brand">

            {{ marca }}

        </p>

        <h3>

            {{ nombre }}

        </h3>

        <div class="rating">

            ⭐ {{ calificacion }}

        </div>

        <div class="price">

            ${{ precio }} MXN

        </div>

        <button>

            Agregar al carrito

        </button>

    </div>

</div>