<div
    class="card-perfume"
    (click)="verDetalle()">


    <!-- ==========================================
         IMAGEN
    =========================================== -->

    <div class="image-container">

        <img
            [src]="imagen"
            [alt]="nombre">

    </div>


    <!-- ==========================================
         INFORMACIÓN
    =========================================== -->

    <div class="card-body">


        <!-- MARCA -->

        <p class="brand">

            {{ marca }}

        </p>


        <!-- NOMBRE -->

        <h3>

            {{ nombre }}

        </h3>


        <!-- CALIFICACIÓN -->

        <div class="rating">

            ⭐ {{ calificacion }}

        </div>


        <!-- PRECIO -->

        <div class="price">

            ${{ precio }} MXN

        </div>


        <!-- ======================================
             AGREGAR AL CARRITO
        ======================================= -->

        <button
            type="button"
            (click)="agregarAlCarrito(); $event.stopPropagation()">

            Agregar al carrito

        </button>


    </div>

</div>