<div class="hero-slider">


    <!-- ==========================================
         CARGANDO
    =========================================== -->

    <div
        *ngIf="cargando"
        class="slide active">

        <div class="slide-content">

            <span>
                CM FRAGRANCES
            </span>

            <h1>
                Cargando perfumes...
            </h1>

            <p>
                Descubre nuestra selección de fragancias.
            </p>

        </div>

    </div>


    <!-- ==========================================
         ERROR
    =========================================== -->

    <div
        *ngIf="
            !cargando &&
            mensajeError
        "
        class="slide active">

        <div class="slide-content">

            <span>
                CM FRAGRANCES
            </span>

            <h1>
                CM Fragrances
            </h1>

            <p>
                {{ mensajeError }}
            </p>

        </div>

    </div>


    <!-- ==========================================
         SLIDES
    =========================================== -->

    <ng-container
        *ngIf="
            !cargando &&
            perfumes.length > 0
        ">


        <div
            class="slide"
            *ngFor="
                let perfume of perfumes;
                let i = index
            "
            [class.active]="
                currentSlide === i
            ">


            <!-- ==================================
                 CONTENIDO
            =================================== -->

            <div class="slide-content">


                <!-- MARCA -->

                <span>

                    {{
                        perfume.marca
                        || 'CM FRAGRANCES'
                    }}

                </span>


                <!-- NOMBRE -->

                <h1>

                    {{ perfume.nombre }}

                </h1>


                <!-- DESCRIPCIÓN -->

                <p>

                    {{
                        perfume.descripcion
                        || 'Una fragancia elegante, intensa y sofisticada.'
                    }}

                </p>


                <!-- PRECIO -->

                <div class="slide-price">

                    {{
                        perfume.precio
                        | currency:
                        'MXN':
                        'symbol-narrow':
                        '1.0-0'
                    }}

                </div>


                <!-- BOTÓN -->

                <button
                    type="button"
                    (click)="verPerfume(perfume.id)">

                    Ver perfume

                </button>


            </div>


            <!-- ==================================
                 IMAGEN
            =================================== -->

            <div class="slide-image">

                <img
                    [src]="
                        perfume.imagen
                        || '/cm-logo.png'
                    "
                    [alt]="perfume.nombre"
                    loading="eager"
                    decoding="async">

            </div>


        </div>


    </ng-container>


    <!-- ==========================================
         FLECHA ANTERIOR
    =========================================== -->

    <button
        *ngIf="
            perfumes.length > 1
        "
        type="button"
        class="slider-arrow prev"
        (click)="previousSlide()">

        ‹

    </button>


    <!-- ==========================================
         FLECHA SIGUIENTE
    =========================================== -->

    <button
        *ngIf="
            perfumes.length > 1
        "
        type="button"
        class="slider-arrow next"
        (click)="nextSlide()">

        ›

    </button>


    <!-- ==========================================
         INDICADORES
    =========================================== -->

    <div
        *ngIf="
            perfumes.length > 1
        "
        class="slider-dots">


        <span
            *ngFor="
                let perfume of perfumes;
                let i = index
            "
            class="dot"
            [class.active]="
                currentSlide === i
            "
            (click)="goToSlide(i)">

        </span>


    </div>


</div>